version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    assignees:
      - dtoniolo
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    assignees:
      - dtoniolo
