---
name: ci
"on":
  push:
    branches:
      - main
defaults:
  run:
    shell: "bash -el {0}"
jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Continuous Integration
        run: cargo ci
